img {
  width: 100px;
  height: 100px;
}
body {
  background-color: gray;
  text-align: center;
}
footer {
  background-color: white;
  text-align: center;
}
header {
  background-color: white;
  text-align: center;
}
